<a href="https://colab.research.google.com/github/oompaloompa77/ForrestKnight/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
df = pd.read_csv('/content/dados_funcionarios - dados_funcionarios.csv')

# df.head(10) #Mostra as primeiras linhas de um arquivo
# df.tail(5) #Mostra as últimas linhas do arquivo
# df.columns #Mostra os nomes das colunas
# df.info() #Mostra tipos e memórias
# df.describe #Mostra estatísticas numéricas
# df[['Nome', 'Setor', 'Salario']] #Seleciona colunas as colunas que quero
# df.sort_values('Salario', ascending=False) #quebra o padrão de ordem crescente na qual o computador já vem programado
# df[df['Setor']=='TI'] #Entra dentro das lihas e depois colunas para selecionar apenas aquilo que eu pedir
# df[df['Salario'] >6000] #idem a anotação acima
# df['Setor'].value_counts() #Contar setor - conta o total de setores que tem
# df.groupby('Setor')['Salario'].mean() #Pega o 'setor' como uma função e faz a media com o 'salario'
# df['Salario'].max() #Mostra o maior salario
# df['Salario'].min() #Mostra o menor salario
# df[df['Avaliação']>=9] #Pede somente avaliações com notas iguais ou maiores que nove
# df[df['Tempo_Empresa']>5] #Mostra quantas pessoas tem mais de cinco anos de trabalho na empresa
# df.groupby('Setor')['Salario'].sum() #Soma o salario de todos em cada setor

Setor
Diretoria     162459
Financeiro    146126
Logística     271957
Marketing     104049
RH            154622
Suporte       270055
TI            135270
Vendas        100511
Name: Salario, dtype: int64