<a href="https://colab.research.google.com/github/oompaloompa77/ForrestKnight/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd

df = pd.read_csv('/content/empresa.csv')

#df.head(10)
#df.tail(15)
#df.columns
#df.describe
#df[df['nome'] == 'Carlos']
#df[df['setor'] == 'TI']
#df[df['salario'] > 4000 ]
#df[['nome' , 'salario']]
#df.sort_values ('salario')
#df.sort_values ('salario', ascending= False)
# df['setor'].value_counts()
# df.groupby('setor')['salario'].mean()
# df.groupby('setor')['salario'].max()
# df.groupby('setor')['salario'].min()
# df[df["Avaliação"]>=9]
# df[df["Tempo_Empresa"]>5]
# df["Categoria"]=df["Salario"].apply
# df[df["Categoria"]=="Alto"]
# df.groupby("Setor")["Avaliação"].mean()
# df.groupby("Setor")["Salario"].sum()
# df.loc[df["Tempo_Empresa"].idxmax()]
# df[df["Nome"].str.startswith("A")]
# df[df["Nome"].str.endswith("A")]
# df[df["Avaliação"].between(7,9)]
# df.sort_values("Tempo_Empresa")
# df[df["Salario"].between(5000,6000)]
# df["Nome"].str.upper()
# df["Salario"].drop_duplicates()
# df.sort_values(["Setor","Salario"])
# df[df["Setor"].str.startswith("M")].shape[0]
# df[df["Setor"]=="RH"]["Avaliação"].sum()

setor
Financeiro    3500
Marketing     3800
RH            4200
TI            5000
Vendas        4500
Name: salario, dtype: int64